main {
    display: flex;
    gap: 1rem;
    margin: 0 22px;
    min-width: 950px;
    align-items: flex-start;
}

#filter {
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 20%;
    height: auto;
}

.filter_section {
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    background-color: lightgray;
}

.sort_radio {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort_radio:not(:last-child) {
    margin-bottom: 5px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    accent-color: green;
}

.filter_section:not(:first-child) {
    margin-top: 10px;
}

.filter_checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter_checkbox:not(:last-child) {
    margin-bottom: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: green;
}

#reset_button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: black;
    font-weight: bold;
}

#filter_line {
    margin: 10px 0 10px 0;
    border: 1px solid lightgray;
}

#reset_button:hover {
    cursor: pointer;
    border: 1px solid black;
}

#price_range_input {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 8px;
}

.price_text_input {
    width: 100%;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#price_set_button {
    width: 40px;
    height: 25px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
}

#price_set_button:hover {
    cursor: pointer;
    border: 1px solid black;
}

input[type="number"] {
    padding-left: 5px;
}

#catalogue {
    width: 80%;
}

.catalogue_item {
    display: flex;
    height: 200px;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.catalogue_item:last-child {
    border-bottom: 1px solid lightgray;
}

.catalogue_item_left {
    width: 20%;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogue_item_left a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.catalogue_item_mid {
    width: 60%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0 10px;
}

.catalogue_item_desc {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.catalogue_item_mid a {
    text-decoration: none;
    color: black;
}

.catalogue_item_mid a h1 {
    margin-bottom: 10px;
}

.catalogue_item_right {
    width: 20%;
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalogue_item_right h2 {
    text-align: center;
}

.catalogue_item_right button {
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
}

.catalogue_item_right button:hover {
    cursor: pointer;
    border: 1px solid black;
}
