/* CSS file for the header. */

header a img {
    width: 20%;
    display: block;
    margin: 20px auto 20px auto;
}

#header_nav {
    text-align: center;
    border: 1px;
    margin: 0 22px 0px 22px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 10%);
}

.menu {
    display: inline-block;
    margin: 28px 6px;
}

#header_nav a {
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    border: 1px solid #f8f4f4;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

#header_nav a:hover {
    border-color: lightgray;
    text-decoration: none;
    color: green;
}
