/* CSS file for the home view. */

#welcome_header {
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 20px;
}

main a {
    text-decoration: none;
}

#enter_store_button {
    display: block;
    margin: auto;
    padding: 10px 30px;
    font-weight: bold;
    font-size: large;
    border: 1px solid transparent;
    border-radius: 5px;
}

#enter_store_button:hover {
    cursor: pointer;
    border: 1px solid black;
}
